.myModal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}

.myModalContent {
  margin: 100px 0px 0px 0px;
  padding: 30px 15px;
  background: #fcfcfc;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
}
.myModal.active {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
