.admin {
  padding: 50px 0px;
  &__container {
    max-width: 900px;
  }
  &__item {
  }
  &__btn {
    margin: 0px 0px 15px 0px;
    width: 100%;
  }
  &__list {
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: space-between;
    column-gap: 15px;
    row-gap: 35px;
  }
  &__form {
    margin: 0px auto 20px auto;
    max-width: 600px;
  }
}

.form-admin {
  .btn {
    border-radius: 5px;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: #efb884;
    margin: 0 auto;
    color: black;
    cursor: pointer;
    @media (any-hover: hover) {
      &:hover {
        background-color: #e49c58;
      }
    }
  }
  .input {
    background-color: #fff;
    color: #454545;
    font-size: 13px;
    box-shadow: 0px 0px 1px #b7b7b7;
    border-radius: 1px;
    min-height: 27px;
  }
  .input:not(:last-child) {
    margin: 0px 0px 5px 0px;
  }
}
