.catalog {
  padding: 50px 0px;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 30px 0px;
    padding: 0px 30px;
    input {
      padding: 5px 10px;
    }
  }
  .search {
    background-color: #f4f4f4c8;
    color: #545454;
  }
}
