@use 'sass:math';
@import './null.scss';
@import './header.scss';
@import './tutors.scss';
@import './UI.scss';
@import './admin.scss';
@import './catalog.scss';

//temp styles
.error-title {
  text-align: center;
  font-size: 18px;
  margin: 10px 0px;
  font-weight: 500;
}
.page {
}

.main-page {
  padding: 40px 0px;
  height: calc(100vh - 70px);
  background: url('../assets/repetitor-35.webp') 0 0 no-repeat;
  background-size: cover;
}
.main-page__container {
}
.main-page__content {
}
.content-main {
  max-width: 630px;
  margin: 0px 0px 0px auto;
  p {
    font-weight: 300;
    font-size: 22px;
    margin: 0px 0px 25px 0px;
  }
  &__top {
    margin: 0px 0px 150px 0px;
  }
  &__title {
    font-weight: 500;
    font-size: 28px;
    margin: 0px 0px 15px 0px;
  }
  &__bottom {
  }
}
.form__input {
  margin: 0px 0px 10px 0px;
}
.login {
  padding: 5% 0px 0px 0px;
  display: flex;
  align-items: center;
  &__order {
    text-align: center;
    p:not(:last-child) {
      margin: 0px 0px 5px 0px;
    }
  }
  &__title {
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    margin: 0px 0px 20px 0px;
  }
  &__form {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 0px 20px;
    .btn {
      border-radius: 5px;
      padding: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      background-color: #efb884;
      margin: 0 auto;
      color: black;
      cursor: pointer;
      @media (any-hover: hover) {
        &:hover {
          background-color: #e49c58;
        }
      }
    }
    .input {
      background-color: #fff;
      color: #454545;
      font-size: 14px;
      box-shadow: 0px 0px 1px #b7b7b7;
      border-radius: 1px;
    }
    .login-close {
      padding: 2px;
      position: absolute;
      right: 0;
      top: -65px;
      background: transparent;
      color: black;
      font-weight: 800;
      font-size: 18px;
      cursor: pointer;
    }
  }
}

.tutor-close {
  padding: 2px;
  position: absolute;
  right: 0;
  top: -30px;
  background: transparent;
  color: black;
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;
}
