.tutors {
  &__wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: space-between;
    column-gap: 15px;
    row-gap: 35px;
  }
}

.tutor-card {
  height: 100%; //????????
  border: 1px solid rgb(218, 218, 218);
  border-radius: 15px;
  overflow: hidden;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  &__wrapper {
    gap: 15px;
    flex: 1 1 100%;
    display: flex;
  }
  &__image {
    // ????????
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
      width: 100%;
      max-height: 100px;
      border-radius: 5px;
    }
    flex: 0 0 100px;
  }
  &__body {
    flex: 1 1 100%;
  }
  &__title {
    word-break: break-word;

    color: black;
    font-weight: 600;
    font-size: 23px;
    margin: 0px 0px 6px 0px;
    display: inline-block;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__list {
  }
  &__item {
    span {
      font-size: 14px;
      &:first-child {
        margin: 0px 5px 0px 0px;
        font-weight: 500;
      }
    }
  }
  &__actions {
    margin: 10px 0px 0px 0px;
    display: flex;
    gap: 10px;
  }
  &__delete {
    color: #fff;
    min-height: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: #efb884;
    cursor: pointer;
    @media (any-hover: hover) {
      &:hover {
        background-color: #e49c58;
      }
    }
  }
}

.tutor-page {
  padding: 50px 0px;
  &__container {
    // max-width: 1050px;
  }
  &__block {
    margin: 0px 0px 20px 0px;
  }
  &__title {
    font-size: 20px;
    font-weight: 500;
    margin: 0px 0px 20px 0px;
    line-height: 1.2;
  }
  &__button {
    color: #fff;
    min-height: 35px;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #efb884;
    margin: 0 auto;
    cursor: pointer;
    @media (any-hover: hover) {
      &:hover {
        background-color: #e49c58;
      }
    }
  }
}
.block-tutor {
  display: flex;
  gap: 20px;
  &__images {
    flex: 0 0 370px;
    max-height: 370px;
    display: flex;
    justify-content: center;
    img {
      border-radius: 10px;
    }
  }
  &__content {
    flex: 1 1 100%;
  }
}
.images-tutor {
  display: flex;
}
.content-tutor {
  padding: 20px 0px;
  &__title {
    font-weight: 600;
    font-size: 25px;
    margin: 0px 0px 25px 0px;
    word-break: break-word;
  }
  &__list {
  }
  &__item {
    margin: 0px 0px 20px 0px;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 18px;
    margin: 0px 0px 7px 0px;
  }
  &__text {
  }
}
